spring.datasource.url=jdbc:h2:file:{{.env.VLO_DOCKER_MONITOR_DB_PATH}}

logging.level.root=warn
logging.level.eu.clarin.cmdi.vlo=info
logging.file.name=/opt/vlo/log/vlo-monitoring.log
logging.file.max-size=10MB

vlo.monitor.config.url=file:/opt/vlo/config/VloConfig.xml
vlo.monitor.pruneAfterDays={{.env.VLO_DOCKER_MONITOR_PRUNE_AFTER_DAYS}}

spring.config.import=optional:file:{{.env.VLO_DOCKER_MONITOR_RULES_FILE}}
